@import url('https://fonts.googleapis.com/css?family=Poppins');

@font-face {
    font-family:'Poppins';
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family:'Poppins-ExtraLight';
    src: url(../fonts/poppins/Poppins-ExtraLight.otf);
}

@font-face {
    font-family:'Poppins-SemiBold';
    src: url(../fonts/poppins/Poppins-SemiBold.otf);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #080D13;
    padding:0px !important;
    overflow-x:hidden !important;
}

#wrapper {
    overflow-x: hidden !important;
}


.span-title {
    color: #7A7A7A !important;
}

.popNABB {
    font-family: 'Poppins-ExtraLight', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size:75px !important;
    font-weight:600 !important;
    line-height:80px;
    letter-spacing: -0.8px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size:60px !important;
    font-weight:600 !important;
    line-height:65px;
    letter-spacing: -0.8px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size:45px !important;
    font-weight:600 !important;
    line-height:60px;
    letter-spacing: -0.8px;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size:30px !important;
    font-weight:600 !important;
    line-height:36px;
    letter-spacing: -0.8px;
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-size:22px !important;
    font-weight:600 !important;
    line-height:27px;
    letter-spacing: -0.8px;
}

h6 {
    font-family: 'Poppins', sans-serif;
    font-size:18px !important;
    font-weight:600 !important;
    line-height:23px;
    letter-spacing: -0.8px;
}

.text-b {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size:20px;
    line-height:32px;
}

.text-description {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:28px;
}

.text-meta {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size:12px;
    line-height:20px;
}

.light-orb {
    width: 760px;
    height: 760px;
    background: #005260;
    -webkit-filter: blur(225px);
    filter: blur(225px);
    position:absolute
}





.text-extralight {
    font-family: 'Poppins-ExtraLight', sans-serif;
}

.text-semibold {
    font-family: 'Poppins-SemiBold', sans-serif;
}

.btn-gradient {
    background-image: linear-gradient( #ffffff, #ffffff);
    
    display:block;
    position:relative;
    cursor:pointer;
    padding:1px;
    border-radius: 6px !important;
    transition: 0.3s;
    /* -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
     */
 }

 .btn-gradient:after {
    content: '';
    padding:5px !important;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-image: linear-gradient(to right, #00EFFE, #004654, #000000 );
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius:5px !important;
 }

 .btn-gradient:hover:after {

    opacity:1;
    
 }

 .btn-try {
    transition: 0.3s ease-in-out;
    background-color: black; 
    opacity: 0.6;
 }

 .btn-try:hover {
  
    opacity: 1
 }

 