.menu {
    font-weight:400;
    font-size:16px;
    line-height:20px;
    font-family: 'Poppins', sans-serif;
    color: #D9D9D9;
    transition: 0.2s ease-in-out
}
.menu:hover {
    color:white !important;
    cursor: pointer;
}

.scrolled-down {
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

.nav-burger {
    stroke: #D9D9D9;
    transition: .2s ease-in-out
}

.menu:hover .nav-burger {
    stroke:white;
}