.s2 {
    background-image: url(../images/blueorb.png);
    height:100vh;
    width:100%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: right;
    
}

.s2-container {
    background-image: url(../images/s2-bg.png);
    height:100vh;
    background-repeat:no-repeat;
    background-position-x: right;
}

.s2-header {
    line-height:98.5px;
    letter-spacing: -6%;
    font-size:90px;
}

.s2-description {
    flex-direction: row;
}


 .s2-d-about {
    padding-left:40px
}

@media only screen and (max-width: 640px) {
    .s2-header {
        line-height:70px;
        font-size:65px;
    }
    .s2-description {
        flex-direction: column;
    }

    .s2-d-about {
        padding-left:0;
        padding-top:35px;
    }
}

@media only screen and (max-width: 320px) {
    .s2-header {
        line-height:50px;
        font-size:45px;
    }
   
}