.s4-header {
    line-height: 75px;
    letter-spacing: -4px;
}

.s4 {
    height: 100vh;
    width:100%;
   
}

.s4-cont {
    display: none;
}
.s4-logo-container {
    margin-top:100px
} 

.s4-logo-column {
    margin-left:45px;
    margin-right:45px;
    margin-top:10px;
    margin-bottom:10px;
}

.s4-logos {
    opacity:0.3;
    transition: all 0.3s ease-in-out;
}

.s4-logos:hover {
    opacity:1
}

@media only screen and (max-width: 768px) {
    .s4-header {
        line-height:50px;
        font-size:40px;
        text-align:left !important;
        justify-content:left;
        width: 100% !important;
    }
   
}

@media only screen and (max-width: 460px) {
    .s4-header {
        margin-top: 100px;
        position:relative;
        z-index: 60;
    }
   
}