.s5-slide-item {
    margin-right:20px;
}

.s5 > .container-fluid > .row > .container > .owl-stage-outer {
    overflow: visible !important;
}

.s5-slide-item:hover {
    
    cursor: url(../images/s5-cursor.png) 60 60, auto;
}

.s5-header {
    visibility: hidden;
    opacity: 0;
    transition: 0.001s ease-in;
    position:absolute;
    bottom:-100%;
}

@media only screen and (max-width: 460px) {
    .s5 {
        margin-top: 60px !important;
  
    }
   
    .s5-slide-item {
        height: 350px !important;
        width: 264.25px !important;
    }
    .s5-slide-title {
        margin-top:12px !important;
    }
}