.s7-slide-image:hover {
    cursor: url(../images/s7-cursor.png) 60 60, auto;
    filter:grayscale(0%);
}

.s7-slide-image {
    filter:grayscale(100%);
    transition: 0.2s ease-in-out
}

.s7-header {
    visibility: hidden;
    opacity: 0;
    transition: 0.001s ease-in;
    position: absolute;
    bottom:-100%;
    letter-spacing:-4px;
}

.s7-slider {
    margin-top:90px !important;
}





@media only screen and (max-width: 460px) {
    .s7-slider {
        margin-top:40px  !important;
    }
    
    .s7-slide-text h4 {
        font-size: 20px !important;
    }

    .s7-slide-text span {
        font-size: 11px !important;
        margin-top:0 !important;
    }
   
    .s7-slide-text {
        margin-top:15px !important;
    }
}