.s7-slide-image {
    transform: scale();
}

.s7-header {
    visibility: hidden;
    opacity: 0;
    transition: 0.001s ease-in;
    position: absolute;
    bottom:-100%
}

.s7-slider {
    margin-top:90px;
}

@media only screen and (max-width: 460px) {
    .s7-slider {
        margin-top:40px;
    }
   
}