.s7-slide-image:hover {
    cursor: url(../images/s3-cursor-be.png) 60 60, auto;
}



.s7-header {
    visibility: hidden;
    opacity: 0;
    transition: 0.001s ease-in;
    position: absolute;
    bottom:-100%
}

.s7-slider {
    margin-top:90px !important;
}





@media only screen and (max-width: 460px) {
    .s7-slider {
        margin-top:40px  !important;
    }
   
}