.s8-header-title {
    font-size:60px;
    line-height:65px;
    
    width:60%
}

.s8-header {
   visibility:hidden;
   opacity:0;
   transition: 0.001s ease-in-out;
}

.s8-header-description {
    font-size:20px;
    line-height: 32px;
    font-weight: 400;
}

.s8 {
    background-image: url(../images/s8-bg.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    padding-top:200px !important; 
    padding-bottom:250px  !important
}

.s8-input {
    background-color:#080D13 !important;

    border: 1px solid #111C29;
   
}
.form-control {
    width:100% !important;
    color:white !important;
    
}
.s8-input-div {
  
    height:60px;
    border-radius:5px;
    width:60% !important;
    margin-bottom:10px
    
}

.s8-textarea-div {
  
    height:150px;
    border-radius:5px;
    width:60% !important;
    
    
}

.s8-textarea {
    height:100% !important;
}



input[type=text] {
    padding-left:25px !important;
    
}

textarea[type=text] {
    padding-left:25px !important;
    
}


.form-control:focus {
    box-shadow: none !important;
    padding:1px;
    border: double 1px transparent !important;
    border-radius: 6px  !important;
    background-image: linear-gradient(#080D13, #080D13),
        linear-gradient(to right, #00EFFE, #004654,#0050AE ) !important;
 
    background-origin: border-box  !important;
    background-clip: padding-box, border-box  !important;
}




::placeholder {
    font-family: 'Poppins', sans-serif;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:15px;
    position:relative;
    
    color: rgba(255, 255, 255, 0.4);
}


.s8-label {
    position:absolute !important;
    left:15px !important;
    color: rgba(255, 255, 255, 0.4) !important
}
.s8-modal-header {
    font-size: 45px;
    line-height:45px;
    LETTER-SPACING: -3px;
   
}


.s8-modal-description {

    font-size: 20px;
    line-height:32px;
    font-weight:400
}
@media only screen and (max-width: 690px) {
    .s8 {
        padding-top: 0px !important;
        padding-bottom:100px !important;
    }
   
    .s8-header-title {
        font-size: 42px !important;
        line-height:52px
    }

    .s8-input-div {
       
        width: 100% !important;
     
    }
    .s8-textarea-div {
       
        width: 100% !important;
    }
}